{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Symbol</th>
                <th scope="col">Shares</th>
                <th scope="col">Price</th>
                <th scope="col">Transacted</th>
            </tr>
        </thead>
        <tbody>
            {% for row in rows %}
                <tr>
                    <td>{{ row["symbol"] }}</td>
                    <td>{{ row["share_qty"] }}</td>
                    <td>{{ row["share_price"] }}</td>
                    <td>{{ row["tx_time"] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}